#img {
    padding-top: 40px;
    width: 400px;
    height: 300;
}
.containerimg {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
.containerimg2 {
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
}
.containerimg3 {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}